{# encoding=utf-8 #}
{% extends 'base.html' %}
{% block title %}Personal Vigente{% endblock %}

{% block titulo %}
<h1>Permiso <small>Seleccione Empleado</small></h1>
{% endblock %}
{% block cuerpo %}
<div class="row">
    <div class="span12">
        <div class="row">
            <div class="span3 ">
                {% include 'permiso/menuizq.html' %}
            </div>
            <div class="span9">
                <div class="row">
                    <div class="span9">
                        <h3>Seleccione Empleado</h3>
                        <table class="hovered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nombre Completo</th>
                                    <th>Cedula de Identidad</th>
                                    <th>Telefono</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for persona in personas %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ persona.paterno }} {{ persona.materno }}, {{ persona.nombre }}</td>
                                        <td>{{ persona.ci }}</td>
                                        <td>{{ persona.telefono }}</td>
                                        <td>
                                            <a href="{% url 'asistencia.views.new_permiso' persona.id %}" class="button default">Registrar Permiso</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% if not personas %}
                            <p class="lead">No Existen Contratos Vigentes</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}