{# encoding=utf-8 #}
{% extends 'base.html' %}
{% block title %}Listado de Observaciones{% endblock %}

{% block titulo %}
<h1>Observaciones <small>Listado</small></h1>
{% endblock %}
{% block cuerpo %}
<div class="row">
    <div class="span12">
        <div class="row">
            <div class="span3 ">
                {% include 'observaciones/menuizq.html' %}
            </div>
            <div class="span9">
                <h3>Observaciones del Dia</h3>
                {% for observacion in observaciones %}
                    <div class="row">
                        <div class="span3">
                            <strong>Nombre Completo:</strong>
                            <p>{{ observacion.persona }}</p>
                        </div>
                        <div class="span3">
                            <strong>Tipo de Observación</strong>
                            <p>
                                {% if obsevacion.tipo == "LA" %}
                                    Llamada De Atención
                                {% else %}
                                    Memorandum
                                {% endif %}
                            </p>
                        </div>
                        <div class="span3">
                            <strong>Descripción</strong>
                            <p>{{ observacion.descripcion }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}