{# encoding=utf-8 #}
{% extends 'base.html' %}
{% block title %}Listado de Observaciones{% endblock %}

{% block titulo %}
<h1>Observaciones <small>Listado</small></h1>
{% endblock %}
{% block cuerpo %}
<div class="row">
    <div class="span12">
        <div class="row">
            <div class="span3 ">
                {% include 'observaciones/menuizq.html' %}
            </div>
            <div class="span9">
                <div class="row">
                    <div class="span9">
                        <form id="formulario" action="" method="get">{% csrf_token %}
                            <fieldset>
                                <legend>Buscar Empleado</legend>
                                {% for field in formulario %}
                                    {{ field.errors }}
                                    {{ field.label_tag }}
                                    <div class="input-control text">
                                        {{ field }}
                                        {% if field.help_text %}
                                            <p class="fg-color-green">
                                                <i class="icon-warning"></i> {{ field.help_text }}
                                            </p>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                                <div class="controls">
                                    <input type="submit" value="Buscar">
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <h3>Todas las Observaciones</h3>
                    {% for persona in personas %}
                        <div class="row border-color-blueDark column-margin">
                            <h3>{{ persona.paterno }} {{ persona.materno }}, {{ persona.nombre }}</h3>
                            <div class="span9">
                                {% if persona.observacion_set.select_related.all %}
                                    <table class="hovered">
                                        <thead>
                                            <tr>
                                                <th>Fecha Obs.</th>
                                                <th>Descripción Obs.</th>
                                                <th>Tipo de Obs.</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for obs in persona.observacion_set.select_related.all %}
                                                <tr>
                                                    <td>{{ obs.fecha|date:"d-M-Y" }}</td>
                                                    <td>{{ obs.descripcion }}</td>
                                                    <td>
                                                        {% if obs.tipo == "LA" %}
                                                            Llamada de Atención
                                                        {% else %}
                                                            Memorandum
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                {% else %}
                                    <h5>No tiene Observaciones Registradas</h5>
                                {% endif %}
                            </div>
                        </div>
                    {% empty %}
                        <h5>No Existen Personas Registradas</h5>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}