<div class="page-sidebar">
    <ul>
        <li class="sticker sticker-color-green">
            <a href="{% url 'personal.views.index_observaciones' %}">
                <i class="icon-clipboard"></i> Observaciones
            </a>
            <ul class="sub-menu">
                {% if perms.personal.add_observaciones %}
                    <li>
                        <a href="{% url 'personal.views.select_persona_observacion' %}">Registrar Observación</a>
                    </li>
                {% endif %}
            </ul>
        </li>
        <li class="divider"></li>
        {% if perms.personal.list_observaciones %}
            <li class="sticker sticker-color-blue">
                <a href="">
                    <i class="icon-file"></i>Opciones de Observación
                </a>
                <ul class="sub-menu">
                    {% if perms.personal.list_observaciones %}
                        <li>
                            <a href="{% url 'personal.views.list_observaciones' %}">Todas Las Observaciones</a>
                        </li>
                    {% endif %}
                </ul>
            </li>
        {% endif %}
    </ul>
</div>