<div class="page-sidebar">
    <ul>
        <li class="sticker sticker-color-green">
            <a href="{% url 'organizacion.views.index_cargo' %}">
                <i class="icon-clipboard"></i> Cargo
            </a>
            {% if perms.organizacion.add_cargo %}
                <ul class="sub-menu">
                    <li>
                        <a href="{% url 'organizacion.views.new_cargo' %}">Registrar Cargo</a>
                    </li>
                </ul>
            {% endif %}
        </li>
        <li class="divider"></li>
        {% if perms.organizacion.change_cargo or perms.organizacion.detail_cargo %}
            <li class="sticker sticker-color-blue">
                <a><i class="icon-clipboard-2"></i>Opciones Cargo</a>
                <ul class="sub-menu">
                    {% if perms.organizacion.change_cargo %}
                        <li>
                            <a href="{% url 'organizacion.views.option_update_cargo' %}">Modificar Cargo</a>
                        </li>
                    {% endif %}
                    {% if perms.organizacion.detail_cargo %}
                        <li>
                            <a href="{% url 'organizacion.views.option_detalle_cargo' %}">Detalle Cargo</a>
                        </li>
                    {% endif %}
                </ul>
            </li>
        {% endif %}
        {% if perms.organizacion.list_cargos_pdf %}
            <li class="sticker sticker-color-orangeDark">
                <a><i class="icon-file-pdf"></i>Reportes</a>
                <ul class="sub-menu">
                    {% if perms.organizacion.list_cargos_pdf %}
                        <li>
                            <a href="{% url 'organizacion.views.cargos_pdf' 0 %}">Listado de Cargos PDF</a>
                        </li>
                    {% endif %}
                </ul>
            </li>
        {% endif %}
    </ul>
</div>