<div class="page-sidebar">
    <ul>
        <li class="sticker sticker-color-green">
            <a href="{% url 'organizacion.views.index_cargo' %}">
                <i class="icon-clipboard"></i> Cargo
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="{% url 'organizacion.views.new_cargo' %}">Registrar Cargo</a>
                </li>
            </ul>
        </li>
        <li class="divider"></li>
        <li class="sticker sticker-color-blue">
            <a><i class="icon-clipboard-2"></i>Opciones Cargo</a>
            <ul class="sub-menu">
                <li>
                    <a href="{% url 'organizacion.views.option_update_cargo' %}">Modificar</a>
                </li>
                <li>
                    <a href="{% url 'organizacion.views.option_detalle_cargo' %}">Detalle Cargo</a>
                </li>
            </ul>
        </li>
        <li class="sticker sticker-color-orangeDark">
            <a><i class="icon-file-pdf"></i>Reportes</a>
            <ul class="sub-menu">
                <li>
                    <a href="{% url 'organizacion.views.cargos_pdf' 0 %}">Listado de Cargos PDF</a>
                </li>
            </ul>
        </li>
    </ul>
</div>