{# encoding:utf-8 #}
{% extends 'base.html' %}
{% block title %}
    Opciones Conocimiento
{% endblock%}
{% block url %}organizacion{% endblock %}

{% block cuerpo %}
    <section class="consulta">
        <h3>Unidades - Cargos Que Poseen Algun Conocimiento</h3>
        <div class="accordion" id="accordion2">
            {% for unidad in unidades %}
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#unidad{{ unidad.id }}">
                            <h3>{{ unidad.nombre }}</h3>
                        </a>
                    </div>
                    <div id="unidad{{ unidad.id }}" class="accordion-body collapse">
                        <div class="accordion-inner">

                            <div class="tabbable tabs-left">
                                <ul class="nav nav-tabs">
                                    {% for cargo in cargos %}
                                        {% if cargo.unidad_id == unidad.id %}
                                            <li>
                                                <a class="lead" data-toggle="tab"  href="#cargo{{ cargo.id }}">{{ cargo.nombre }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                                <div class="tab-content">
                                    {% for cargo in cargos %}
                                        {% if cargo.unidad_id == unidad.id %}
                                            <div id="cargo{{ cargo.id }}" class="tab-pane">
                                                <p>
                                                    {% for cono in conocimientos %}
                                                        {% if cono.cargo_id == cargo.id %}
                                                            <p class="lead">
                                                                {{ cono.descripcion }}
                                                            </p>
                                                            <div class="well">
                                                                <p>Opciones Función</p>
                                                                <a class="btn btn-link" href="{% url 'organizacion.views.update_conocimiento' cono.id %}"><b class="icon-pencil"></b> Modificar</a>
                                                                <a class="btn btn-link" href="{% url 'organizacion.views.delete_conocimiento' cono.id %}"><b class="icon-cancel"></b> Quitar Conocimiento</a>
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                </p>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <a class="btn btn-link" href="{% url 'organizacion.views.new_conocimiento' %}"><b class="icon-plus"></b> Crear Conocimiento</a>
        </div>
    </section>
{% endblock %}