{% extends 'base.html' %}
{% block title %}
    Opciones de Cargo
{% endblock%}
{% block url %}organizacion{% endblock %}
{% block cuerpo %}
    <section class="consulta">
        <div class="accordion" id="accordion2">
        <h2>Unidades</h2>
            {% for unidad in unidades %}
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne{{ unidad.id }}">
                            <h3>{{ unidad.nombre }}</h3>
                        </a>
                    </div>
                    <div id="collapseOne{{ unidad.id }}" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <div class="tabbable tabs-left">
                                <ul class="nav nav-tabs">
                                    {% for cargo in cargos %}
                                        {% if cargo.unidad_id == unidad.id %}
                                            <li>
                                                <a class="lead" data-toggle="tab"  href="#cargo{{ cargo.id }}">{{ cargo.nombre }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                                <div class="tab-content">
                                    {% for cargo in cargos %}
                                        {% if cargo.unidad_id == unidad.id %}
                                            <div id="cargo{{ cargo.id }}" class="tab-pane">
                                                <p>
                                                    <p class="lead">
                                                        {{ cargo.descripcion }}
                                                    </p>
                                                    <div class="well">
                                                        <p>Opciones Cargo</p>
                                                        <a class="btn btn-link" href="/cargo/update/{{ cargo.id }}"><b class="icon-pencil-2"></b> Modificar</a>
                                                        <a class="btn btn-link" href="/unidad/planificacion/{{ cargo.id }}"><b class="icon-publish"></b> Ver Planificaciones</a>
                                                    </div>
                                                </p>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <a data-toggle="modal" href="/cargo/new" class="btn btn-link btn-large"><b class="icon-plus-2"></b> Crear Cargo</a>
        </div>
    </section>
{% endblock %}