{# encoding:utf-8 #}
{% extends 'base.html' %}
{% block title %}Listado de Planificaciones{% endblock%}
{% block url %}planificacion/seleccion{% endblock %}
{% block cuerpo %}
    <section class="consulta">
        <h3>Listado de Planificaciones</h3>
        <div class="row-fluid">
            <div class="navbar-inner">
                <p class="lead"><strong>Unidad - Cargo</strong></p>
                <p class="lead"><strong>{{ cargo.unidad|upper }}</strong> - {{ cargo.nombre }}</p>
            </div>
            <div class="span11 well">
                <h3>Planificaciones</h3>
                {% for plani in planificaciones %}
                    <div class="span9">
                        <p><strong>Fecha: </strong>{{ plani.fecha_plani }}</p>
                        <p><strong>Descripción</strong></p>
                        <p>{{ plani.descripcion }}</p>
                        <p><strong>Cantidad de Personal Requerido</strong></p>
                        <p>{{ plani.cantidad }}</p>
                    </div><br>
                {% empty %}
                    <p class="text-error lead">Este Cargo No Posee Ninguna Planificación</p>
                {% endfor %}

            </div>
        </div>
    </section>
{% endblock %}