{# encoding=utf-8 #}
{% extends 'base.html' %}
{% block title %}Remuneraciones{% endblock %}
{% block atras %}
{% url 'remuneraciones.views.index_remuneracion' %}
{% endblock %}
{% block titulo %}
<h1>Remuneraciones <small>Otros Pagos</small></h1>
{% endblock %}
{% block cuerpo %}
<div class="row">
    <div class="span12">
        <div class="row">
            <div class="span3 ">
                {% include 'remuneraciones/menuizq.html' %}
            </div>
            <div class="span9">
                <div class="row">
                    <div class="span9">
                        <form id="formulario" action="" method="get">{% csrf_token %}
                            <fieldset>
                                <legend>Buscar Empleado</legend>
                                {% for field in formulario %}
                                    {{ field.errors }}
                                    {{ field.label_tag }}
                                    <div class="input-control text">
                                        {{ field }}
                                        {% if field.help_text %}
                                            <p class="fg-color-green">
                                                <i class="icon-warning"></i> {{ field.help_text }}
                                            </p>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                                <div class="controls">
                                    <input type="submit" value="Buscar">
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <h3>Otros Pagos</h3>
                    {% for contrato in contratos %}
                        <div class="row border-color-blueDark column-margin">
                            <h3><strong>{{ contrato.persona }}</strong></h3>
                            <div class="span9">
                                {% if contrato.pagos_set.select_related.all %}
                                    <table class="hovered bordered">
                                        <thead>
                                            <tr>
                                                <th>Fecha Pago</th>
                                                <th>Razón</th>
                                                <th>Monto</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for opagos in contrato.pagos_set.select_related.all %}
                                                <tr>
                                                    <td>{{ opagos.fecha|date:"d-M-Y" }}</td>
                                                    <td>{{ opagos.razon }}</td>
                                                    <td class="text-right">{{ opagos.pago }} Bs.</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                {% else %}
                                    <h5>No tiene Otros Pagos Registrados</h5>
                                {% endif %}
                            </div>
                        </div>
                    {% empty %}
                        <h5>No Existen Personas Registradas</h5>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}