{# encoding:utf-8 #}
{% extends 'base.html' %}
{% block title %}
    Planilla de Sueldos
{% endblock%}
{% block url %}remuneracion{% endblock %}
{% block cuerpo %}
    <section class="consulta">
        <div class="row-fluid">
            <div class="navbar-inner">
            </div>
            <div class="well">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Cedula de identidad</th>
                            <th>Nombre Completo</th>
                            <th>Sueldo</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for emple in empleados %}
                            <tr>
                                <td>{{ emple.ci }}</td>
                                <td>{{ emple.nombre }} {{ emple.paterno }} {{ emple.materno }}</td>
                                {% for contrato in contratos %}
                                    {% if contrato.empleado_id == emple.id %}
                                        <td><strong>{{ contrato.sueldo }}</strong> Bolivianos</td>
                                    {% endif %}
                                {% endfor %}

                                <td>
                                    <a href="#myModal{{ emple.ci }}" class="btn btn-link" data-toggle="modal"><b class="icon-user"></b> Información</a>
                                    <a href="/planilla/detalle/sueldo/{{ emple.id }}/" class="btn btn-info"><b class="icon-diamond"></b> Detalle Planilla</a>
                                </td>
                            </tr>
                            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal hide fade" id="myModal{{ emple.ci }}" style="display: none;">
                                <div class="modal-header">
                                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button"></button>
                                    <h3>Informacion Completa del Empleado</h3>
                                </div>
                                <div class="modal-body">
                                    <h4><strong>Datos Empleado</strong></h4>
                                    <div class="row-fluid">
                                        <div class="span4">
                                            <p><img src="/media/{{ emple.foto }}" alt=""/></p>
                                        </div>
                                        <div class="span4">
                                            <strong>Cedula de Identidad: </strong>
                                            <p>{{ emple.ci }}</p>
                                            <strong>Apellidos:</strong>
                                            <p>{{ emple.paterno }}, {{ emple.materno }}</p>
                                            <strong>Nombre: </strong>
                                            <p>{{ emple.nombre }}</p>
                                            <strong>Dirección:</strong>
                                            <p>{{ emple.direccion }}</p>
                                            <strong>Telefono / Celular:</strong>
                                            <p>{{ emple.telefono }}</p>
                                            <strong>Correo Electronico:</strong>
                                            <p>{{ emple.email }}</p>
                                        </div>
                                        <div class="span4">
                                            <strong>Fecha de Nacimiento:</strong>
                                            <p>{{ emple.fecha_nac }}</p>
                                            <strong>Sexo: </strong>
                                            {% if emple.sexo == "FE" %}
                                                <p>FEMENINO</p>
                                            {% else %}
                                                <p>MASCULINO</p>
                                            {% endif %}
                                            <strong>Estado Civil:</strong>
                                            {% if emple.estado_civil == "CA" and emple.sexo == "FE" %}
                                                <p>CASADA</p>
                                            {% elif emple.estado_civil == "CA" and emple.sexo == "MA" %}
                                                <p>CASADO</p>
                                            {% elif emple.estado_civil == "SO" and emple.sexo == "MA" %}
                                                <p>SOLTERA</p>
                                            {% else %}
                                                <p>SOLTERA</p>
                                            {% endif %}
                                            <strong>Profesión:</strong>
                                            <p>{{ emple.profesion }}</p>
                                        </div>
                                    </div>
                                </div>
                               <div class="modal-footer">
                                 <button data-dismiss="modal" class="btn">Cerrar</button>
                               </div>
                             </div>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}