{# encoding=utf-8 #}
{% extends 'base.html' %}
{% block title %}Remuneraciones{% endblock %}
{% block atras %}
{% url 'remuneraciones.views.index_remuneracion' %}
{% endblock %}
{% block titulo %}
<h1>Remuneraciones <small>Listado</small></h1>
{% endblock %}
{% block cuerpo %}
<div class="row">
    <div class="span12">
        <form action="" method="get" id="formulario">{% csrf_token %}
            <fieldset>
                <legend>Seleccionar Fecha</legend>
                <div class="row">
                    {% for field in formulario %}
                        <div class="span3">
                            {{ field.errors }}
                            {{ field.label_tag }}

                            <div class="text input-control">
                                {{ field }}
                                {% if field.help_text %}
                                    <p class="fg-color-green">
                                        <i class="icon-warning"></i> {{ field.help_text }}
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="span3 padding15">
                        <div class="controls">
                            <input type="submit" value="Enviar">
                        </div>
                    </div>
                    <div class="span3"></div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<div class="row">
<a href="{% url 'remuneraciones.views.planilla_sueldos_pdf' fecha|date:"m" fecha|date:"Y" %}" class="button bg-color-green fg-color-white">VER PDF</a>
</div>
<div class="row">
    <div class="span12">
    <h3>{{ fecha|date:"M, Y" }}</h3>
        <table class="hovered">
            <thead>

                <tr class="">
                    <th>#</th>
                    <th>Cedula</th>
                    <th class="text-center">Apellidos y Nombres</th>
                    <th class="text-center">Fecha Nac.</th>
                    <th>Sexo</th>
                    <th class="text-center">Ingreso</th>
                    <th class="text-center">Dias</th>
                    <th>Haber Basico</th>
                    <th class="text-center">Otros Pagos</th>
                    <th class="text-center">Total Ganado</th>
                    <th>Descuentos</th>
                    <th class="text-center">Liquido Pagable</th>
                </tr>
            </thead>
            <tbody>
                {% for contrato in contratos %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ contrato.persona.ci }}</td>
                        <td>{{ contrato.persona }}</td>
                        <td>{{ contrato.persona.fecha_nac|date:"d/m/Y" }}</td>
                        <td class="center">{{ contrato.persona.sexo }}</td>
                        <td>{{ contrato.fecha_entrada|date:"d/m/Y" }}</td>
                        <td class="right">
                            {% for asistencia in asistencias %}
                                {% if asistencia.persona_id == contrato.persona_id %}
                                    {% if asistencia.sum_asistencia %}
                                        {{ asistencia.sum_asistencia }}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td class="text-right">{{ contrato.sueldo }} Bs.</td>
                        <td class="text-right">
                            {% for pago in pagos %}
                                {% if pago.contrato_id == contrato.id %}
                                    {{ pago.sum_pago }} Bs.
                                {% else %}
                                    0 Bs.
                                {% endif %}
                            {% empty %}
                                0 Bs.
                            {% endfor %}

                        </td>
                        <td class="text-right">
                            {% load filtros_template %}
                            {% for pago in pagos %}
                                {% if pago.contrato_id == contrato.id %}
                                    {{ pago.sum_pago|cut:contrato.sueldo }} Bs.
                                {% else %}
                                    0 Bs.
                                {% endif %}
                            {% empty %}
                                {{ contrato.sueldo }} Bs.
                            {% endfor %}
                        </td>
                        <td class="text-right">
                            {% for descuento in descuentos %}
                                {% if descuento.contrato_id == contrato.id %}
                                    {{ descuento.sum_monto }} Bs.
                                {% else %}
                                    0 Bs.
                                {% endif %}
                            {% empty %}
                                0 Bs.
                            {% endfor %}

                        </td>
                        <td class="bg-color-blueLight text-right">
                            {% for descuento in descuentos %}
                                {% if descuento.contrato_id == contrato.id %}
                                    {% for pago in pagos %}
                                        {% if pago.contrato_id == contrato.id %}
                                            {{ pago.sum_pago|cut:contrato.sueldo|restar:descuento.sum_monto }} Bs.
                                        {% else %}
                                            {{ contrato.sueldo }}
                                        {% endif %}
                                    {% empty %}
                                        {{ contrato.sueldo|restar:descuento.sum_monto }} Bs.
                                    {% endfor %}
                                {% else %}
                                    {{ contrato.sueldo }}
                                {% endif %}
                            {% empty %}
                                {{ contrato.sueldo }} Bs.
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}