{% extends 'base.html' %}
{% block title %}
    Nueva Unidad
{% endblock%}
{% block url %}{% endblock %}
{% block cuerpo %}
    {% block cargo %}
    {% endblock %}
    <form id="formulario" class="form-horizontal" method="post" action="">{% csrf_token %}
        <fieldset>
            <legend>{% block legend %}Formulario{% endblock %}</legend>
            {% block form %}
                {% for field in formulario %}
                        {{ field.errors }}
                        <div class="control-group">
                            {{ field.label_tag }}
                        <div class="controls">
                            {{ field }}
                        </div>
                    </div>
                {% endfor %}
            {% endblock %}
            <div class="controls">
                <button type="submit" class="btn btn2">{% block formenviar %}Guardar{% endblock %}</button>
                <a href='/{% block formcancelar %}{% endblock %}' class='btn'>Cancelar</a>
            </div>
        </fieldset>
    </form>
    <script type="text/javascript">
        $('label').addClass('control-label')
    </script>
{% endblock cuerpo %}
