{% extends 'base.html' %}
{% block title %}Personal{% endblock%}

{% block cuerpo %}
    <h2>Personal</h2>
    <a class="tile wide imagetext bg-color-orange" href="/contrato/cargo/">
        <div class="image-wrapper">
            <img src="{{ STATIC_URL }}content/img/Devices.png"/>
        </div>
        <div class="column-text">
            <div class="text4">Realize la Contratación de Nuevo Personal</div>
        </div>
        <div class="app-label">Registro de Contrato</div>
    </a>

    <a class="tile wide imagetext bg-color-red" href="/personal/asistencia/">
        <div class="image-wrapper">
            <img src="{{ STATIC_URL }}content/img/My Apps.png"/>
        </div>
        <div class="column-text">
            <div class="text4">Realize el Registro de Su Asistencia</div>
        </div>
        <div class="app-label">Registro de Asistencia</div>
    </a>


    <a href="/personal/option/update/" class="tile app bg-color-green    ">
        <div class="image-wrapper">
            <img alt="" src="{{ STATIC_URL }}content/img/RegEdit.png">
        </div>
        <span class="app-label">Modificar Empleado</span>
    </a>


    <a href="/personal/contrato/empleado/" class="tile app bg-color-blue">
        <div class="image-wrapper">
            <img alt="" src="{{ STATIC_URL }}content/img/RegEdit.png">
        </div>
        <span class="app-label">Contratos de Empleado</span>
    </a>

    <a href="/personal/observacion/empleado/" class="tile app bg-color-purple">
        <div class="image-wrapper">
            <img alt="" src="{{ STATIC_URL }}content/img/RegEdit.png">
        </div>
        <span class="app-label">Registro de Observaciones</span>
    </a>

    <a href="/personal/option" class="tile app bg-color-red">
        <div class="image-wrapper">
            <img alt="" src="{{ STATIC_URL }}content/img/RegEdit.png">
        </div>
        <span class="app-label">Registro Permisos</span>
    </a>

    <a class="tile wide imagetext bg-color-blue" href="/personal/kardex/">
        <div class="image-wrapper">
            <img src="{{ STATIC_URL }}content/img/My Apps.png"/>
        </div>
        <div class="column-text">
            <div class="text4">Seleccione un Empleado Para Ver el Kardex Dentro la Empresa</div>
        </div>
        <div class="app-label">Kardex De Personal</div>
    </a>

    <a href="/profesion/new" class="tile app bg-color-yellow">
        <div class="image-wrapper">
            <img alt="" src="{{ STATIC_URL }}content/img/Windows Store.png">
        </div>
        <span class="app-label">Registrar Profesión</span>
    </a>
    
    <a class="tile wide imagetext bg-color-blue" href="/empleado/cambio/">
        <div class="image-wrapper">
            <img src="{{ STATIC_URL }}content/img/My Apps.png"/>
        </div>
        <div class="column-text">
            <div class="text4">Seleccione un Empleado Para Registrar El Cambio</div>
        </div>
        <div class="app-label">Movilidad De Personal</div>
    </a>
    <a class="tile wide imagetext bg-color-azure" href="/planilla/asistencia/">
        <div class="image-wrapper">
            <img src="{{ STATIC_URL }}content/img/My Apps.png"/>
        </div>
        <div class="column-text">
            <div class="text4">Planilla de Asistencia De Empleados</div>
        </div>
        <div class="app-label">Asistencias</div>
    </a>

    <a href="{% url 'personal.views.seleccion_empleado_contrato' %}" class="tile app bg-color-darksalmon">
        <div class="image-wrapper">
            <img alt="" src="{{ STATIC_URL }}content/img/Windows Store.png">
        </div>
        <span class="app-label">Terminar Contratación</span>
    </a>

    <a href="{% url 'personal.views.contrato_usuario' %}" class="tile app bg-color-green">
        <div class="image-wrapper">
            <img alt="" src="{{ STATIC_URL }}content/img/Windows Store.png">
        </div>
        <span class="app-label">Listado de Contratos por Usuario</span>
    </a>

{% endblock %}