{% extends 'base.html' %}
{% block title %}
    Organizacion
{% endblock%}

{% block cuerpo %}
    <h2>Organización</h2>
    <a class="tile wide imagetext bg-color-orange" href="/unidad/new">
        <div class="image-wrapper">
            <img src="{{ STATIC_URL }}content/img/Devices.png"/>
        </div>
        <div class="column-text">
            <div class="text4">Realize el Registro de Nuevas Unidades</div>
        </div>
        <div class="app-label">Registro de Unidades</div>
    </a>
    <a class="tile wide imagetext bg-color-blue" href="/unidad/option">
        <div class="image-wrapper">
            <img src="{{ STATIC_URL }}content/img/My Apps.png" />
        </div>
        <div class="column-text">
            <div class="text">Modificar</div>
            <div class="text">Ver Planificaciones</div>
        </div>
        <span class="app-label">Opciones Unidad</span>
    </a>

    <a class="tile wide imagetext bg-color-blue" href="/cargo/new">
        <div class="image-wrapper">
            <img src="{{ STATIC_URL }}content/img/Devices.png"/>
        </div>
        <div class="column-text">
            <div class="text4">Realize el Registro de Nuevos Cargos</div>
        </div>
        <div class="app-label">Registro de Cargo</div>
    </a>
    <a class="tile wide imagetext bg-color-green" href="/cargo/option">
        <div class="image-wrapper">
            <img src="{{ STATIC_URL }}content/img/My Apps.png" />
        </div>
        <div class="column-text">
            <div class="text">Modificar</div>
            <div class="text">Ver Funciones</div>
            <div class="text">Ver Planificaciones</div>
        </div>
        <span class="app-label">Opciones Cargo</span>
    </a>
    <a class="tile app bg-color-red" href="/planificacion/new">
        <div class="image-wrapper">
            <span class="icon icon-list-2"></span>
        </div>
        <span class="app-label">Crear Planificacion</span>
    </a>
    <a class="tile app bg-color-purple" href="/planificacion/option">
        <div class="image-wrapper">
            <span class="icon icon-publish"></span>
        </div>
        <span class="app-label">Opciones Planificacion</span>
    </a>
    <a class="tile app bg-color-blueDark" href="/funcion/new">
        <div class="image-wrapper">
            <span class="icon icon-list"></span>
        </div>
        <span class="app-label">Crear Función</span>
    </a>
    <a class="tile app bg-color-greenDark" href="/funcion/option">
        <div class="image-wrapper">
            <span class="icon icon-puzzle"></span>
        </div>
        <span class="app-label">Opciones De Función</span>
    </a>
    <a class="tile app bg-color-orange" href="/conocimiento/new">
        <div class="image-wrapper">
            <span class="icon icon-add"></span>
        </div>
        <span class="app-label">Registro de Conocimiento</span>
    </a>
    <a class="tile app bg-color-red" href="/report/unidad/pdf/0">
        <div class="image-wrapper">
            <span class="icon icon-add"></span>
        </div>
        <span class="app-label">Listado de Unidades</span>
    </a>
    <a class="tile app bg-color-yellow" href="/report/cargo/pdf/0">
        <div class="image-wrapper">
            <span class="icon icon-alert"></span>
        </div>
        <span class="app-label">Listado de cargos</span>
    </a>

    <a class="tile app bg-color-blueDark" href="/report/cargo/noempleado/0">
        <div class="image-wrapper">
            <span class="icon icon-document"></span>
        </div>
        <span class="app-label">Cargos Sin Empleados</span>
    </a>
{% endblock %}