{% extends 'base.html' %}
{% block title %}Remuneracion{% endblock%}

{% block cuerpo %}
    <h2>Remuneraciones</h2>
    <a class="tile wide imagetext bg-color-orange" href="/pago/empleado/">
        <div class="image-wrapper">
            <img src="{{ STATIC_URL }}content/img/Devices.png"/>
        </div>
        <div class="column-text">
            <div class="text4">Realize el registro de otros pagos de Empleados</div>
        </div>
        <div class="app-label">Registro de Pagos</div>
    </a>
{% endblock %}