{% extends 'base.html' %}
{% block title %}
    Inicio
{% endblock%}
{% block url %}{% endblock url %}

{% block cuerpo %}
    <a class="tile wide imagetext bg-color-orange" href="/personal/asistencia">
        <div class="image-wrapper">
            <img src="{{ STATIC_URL }}content/img/Devices.png" />
        </div>
        <div class="column-text">
            <div class="text4">Asistencia</div>
        </div>
        <div class="app-label">Registre su Asistencia</div>
    </a>
    <a href="{% url 'organizacion.views.seleccion_cargos_cono' %}" class="tile app bg-color-azure">
        <div class="image-wrapper">
            <img alt="" src="{{ STATIC_URL }}content/img/Windows Store.png">
        </div>
        <span class="app-label">Funciones - Conocimientos</span>
    </a>
    <a class="tile app bg-color-red" href="{% url 'organizacion.views.view_planificaciones_cargo' %}">
        <div class="image-wrapper">
            <span class="icon icon-document-2"></span>
        </div>
        <span class="app-label">Planificaciones Cargo</span>
    </a>
{% endblock %}