<ul class="menu">
    <li>
        <a href="/">Inicio</a>
    </li>
    {% if user.is_authenticated %}

        {% if 'organizacion' in perms %}
            <li data-role="dropdown">
                <a href="#">Organización</a>
                <ul class="dropdown-menu">
                    {% if perms.organizacion.add_unidad or perms.organizacion.change_unidad or perms.organizacion.view_detail_unidad or perms.organizacion.list_unidad_pdf or perms.organizacion.unidades_sin_cargo %}
                        <li>
                            <a href="{% url 'organizacion.views.index_unidad' %}">Unidades</a>
                        </li>
                    {% endif %}
                    <li class="divider"></li>
                    {% if perms.organizacion.add_cargo or perms.organizacion.change_cargo or permsorganizacion.detail_cargo or perms.organizacion.list_cargos_pdf %}
                        <li>
                            <a href="{% url 'organizacion.views.index_cargo' %}">Cargos</a>
                        </li>
                    {% endif %}
                    {% if perms.organizacion.add_planificacion or perms.organizacion.change_planificacion or perms.organizacion.detail_planificacion or perms.organizacion.cancel_planificacion or perms.organizacion.plani_cargo %}
                        <li>
                            <a href="{% url 'organizacion.views.index_planificacion' %}">Planificación</a>
                        </li>
                    {% endif %}
                </ul>
            </li>
        {% endif %}
        {% if 'personal' in perms %}
            <li data-role="dropdown">
                <a href="#">Personal</a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{% url 'personal.views.index_personal' %}">Kardex</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="{% url 'personal.views.index_observaciones' %}">Observaciones</a>
                    </li>
                </ul>
            </li>
        {% endif %}
        {% if 'contratacion' in perms %}
            <li data-role="dropdown">
                <a href="#">Contratación</a>
                <ul class="dropdown-menu">
                    {% if perms.contratacion.show_contrato %}
                        <li>
                            <a href="{% url 'contratacion.views.show_contrataciones' %}">Contratación</a>
                        </li>
                    {% endif %}
                </ul>
            </li>
        {% endif %}
        {% if 'asistencia' in perms %}
            <li data-role="dropdown">
                <a href="#">Asistencia</a>
                <ul class="dropdown-menu">
                    {% if perms.asistencia.detail_asistencia %}
                        <li>
                            <a href="{% url 'asistencia.views.index_asistencia' %}">Asistencia</a>
                        </li>
                    {% endif %}
                    <li class="divider"></li>
                    {% if perms.asistencia.add_permiso %}
                        <li>
                            <a href="{% url 'asistencia.views.index_permiso' %}">Permisos</a>
                        </li>
                    {% endif %}
                </ul>
            </li>
        {% endif %}
        <li data-role="dropdown">
            <a href="#">Usuarios</a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{% url 'users.views.loguet_out' %}" class="fg-color-red">Cerrar Sesión</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="{% url 'users.views.private' %}">Perfil de Usuario</a>
                </li>
            </ul>
        </li>
    {% else %}
        <li>
            <a href="{% url 'users.views.loguet_in' %}" class="fg-color-yellow">Iniciar Sesión</a>
        </li>
        <li>
            <a href="{% url 'users.views.new_user' %}" class="fg-color-orange">Registrese</a>
        </li>
    {% endif %}
</ul>