<div class="page-sidebar">
    <ul>
        {% if perms.add_contratacion %}
            <li class="sticker sticker-color-green">
                <a href="{% url 'contratacion.views.show_contrataciones' %}">
                    <i class="icon-clipboard"></i> Contrataciones
                </a>
                <ul class="sub-menu">
                    {% if perms.contratacion.add_contratacion %}
                        <li>
                            <a href="{% url 'contratacion.views.select_cargo' %}">Nueva Contratación</a>
                        </li>
                    {% endif %}
                </ul>
            </li>
        {% endif %}
        {% if perms.contratacion.view_contrato or perms.contratacion.add_movilidad or perms.contratacion.add_terminar %}
            <li class="sticker sticker-color-red">
                <a href="">
                    <i class="icon-pencil"></i>Opciones Contratación
                </a>
                <ul class="sub-menu">
                    {% if perms.contratacion.view_contrato %}
                        <li>
                            <a href="{% url 'contratacion.views.list_contratos_informacion' %}">Información de Contratos</a>
                        </li>
                    {% endif %}
                    {% if perms.contratacion.add_movilidad %}
                        <li>
                            <a href="{% url 'contratacion.views.list_contratos_movilidad' %}">Movilidad de Contratos</a>
                        </li>
                    {% endif %}
                    {% if perms.contratacion.add_terminar %}
                        <li>
                            <a href="{% url 'contratacion.views.list_contratos_terminar' %}">Terminar Contrato</a>
                        </li>
                    {% endif %}
                </ul>
            </li>
        {% endif %}
    </ul>
</div>