{# encoding=utf-8 #}
{% extends 'base.html' %}

{% block title %}Selección Cargo{% endblock %}

{% block atras %}
{% url 'contratacion.views.select_cargo' %}
{% endblock %}

{% block titulo %}
<h1>Contratación <small>Selección Cargo</small></h1>
{% endblock %}
{% block cuerpo %}
<div class="row">
    <div class="span12">
        <div class="row">
            <div class="span3">
                {% include 'contratacion/menuizq.html' %}
            </div>
            <div class="span9">
                <div class="row">
                    <div class="span9">
                        <h3>Información Del Puesto</h3>
                        <p class="lead"><strong>Unidad:</strong> {{ cargo.unidad }}</p>
                        <p class="lead"><strong>Cargo: </strong>{{ cargo.nombre }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="span6">
                        <form id="formulario" action="" method="get">{% csrf_token %}
                            <fieldset>
                                <legend>Buscar Empleado</legend>
                                {% for field in formulario %}
                                    {{ field.errors }}
                                    {{ field.label_tag }}
                                    <div class="input-control text">
                                        {{ field }}
                                        {% if field.help_text %}
                                            <p class="fg-color-green">
                                                <i class="icon-warning"></i> {{ field.help_text }}
                                            </p>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                                <div class="controls">
                                    <input type="submit" value="Buscar">
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="span3">
                        <p class="lead">Registrar Persona Para Contratación</p>
                        <p>
                            <a href="{% url 'contratacion.views.new_persona' cargo.id %}" class="button bg-color-red fg-color-white">Registrar Persona</a>
                        </p>
                    </div>
                </div>
                <h3>Seleccione Una Persona</h3>
                <div class="row">
                    {% for persona in personas %}
                        <div class="span4">
                            <a href="{% url 'contratacion.views.new_contrato' cargo.id persona.id %}">
                                <div class="replies">
                                    <div class="{% cycle 'bg-color-green' 'bg-color-blue' 'bg-color-red' 'bg-color-greenLight' 'bg-color-blueDark' 'bg-color-greenDark' 'bg-color-yellow' 'bg-color-orange' 'bg-color-orangeDark' 'bg-color-pink' 'bg-color-pinkDark' 'bg-color-purple' 'bg-color-darken' 'bg-color-grayDark' 'bg-color-magenta' 'bg-color-teal' 'bg-color-redLight' %}">
                                        <div class="avatar">
                                            {% if persona.foto == "" %}
                                                {% if persona.sexo == "MA" %}
                                                    <img src="{{ STATIC_URL }}avatar/avatarm.jpg" alt="{{ per.nombre }}"/>
                                                {% else %}
                                                    <img src="{{ STATIC_URL }}avatar/avatarf.jpg" alt="{{ per.nombre }}"/>
                                                {% endif %}
                                            {% else %}
                                                <img src="/media/{{ persona.foto }}" alt="{{ per.nombre }}"/>
                                            {% endif %}
                                        </div>
                                        <div class="reply">
                                            <div class="date"><p>{{ persona.ci }}</p></div>
                                            <div class="author">{{ persona.paterno }} {{ persona.materno }}, {{ persona.nombre }}</div>
                                            <div class="text">
                                                <strong>Telefono/Celular: </strong>{{ persona.telefono }}<br/>
                                                <strong>Fecha de Nacimiento:</strong> {{ persona.fecha_nac|date:"d M. Y" }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}