{# encoding:utf-8 #}
{% extends 'base.html' %}
{% block title %}Empleados Contratados{% endblock%}
{% block url %}personal{% endblock %}
{% block cuerpo %}
    <section class="consulta">
        <h2>Listado de Contrataciones Por Usuario</h2>
        <div class="tabbable tabs-left">
        	<ul class="nav nav-tabs">
        		{% for usuario in usuarios %}
    				{% if forloop.counter != 1 %}
    					<li>
    						<a class="lead" data-toggle="tab"  href="#{{ usuario.username }}">{{ usuario.username }}</a>
    					</li>
    				{% else %}
    					<li class="active">
    						<a class="lead" data-toggle="tab"  href="#{{ usuario.username }}">{{ usuario.username }}</a>
    					</li>
					{% endif %}
           		{% endfor %}
         	</ul>
         	<div class="tab-content">
         		{% for usuario in usuarios %}
         			{% if forloop.counter != 1 %}
	         			<div id="{{ usuario.username }}" class="tab-pane">
	             			<div class="well">
	             				<p>Empleados Contratados Por el Usuario {{ usuario.username|upper }}</p>
                                {% for empleado in empleados %}
                                    {% for contratacion in contrataciones %}

                                        {% if contratacion.usuario_id == usuario.id %}
                                            {% if empleado.id == contratacion.empleado_id %}
                                                <p><strong>Nombre y Apellidos:</strong> {{ empleado.nombre }}, {{ empleado.paterno }} {{ empleado.materno }}</p>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
	             				{% endfor %}
	             			</div>
	           			</div>
	           		{% else %}
	           			<div id="{{ usuario.username }}" class="tab-pane active">
	             			<div class="well">
	             				<p>Empleados Contratados Por el Usuario {{ usuario.username|upper }}</p>
                                {% for empleado in empleados %}
                                    {% for contratacion in contrataciones %}
                                        {% if contratacion.usuario_id == usuario.id %}
                                            {% if empleado.id == contratacion.empleado_id %}
                                                <p><strong>Cedula: </strong>{{ empleado.ci }} -
                                                    <strong>Nombre y Apellidos:</strong> {{ empleado.nombre }}, {{ empleado.paterno }} {{ empleado.materno }} -
                                                    <strong>Telefono/Celular: </strong>{{ empleado.telefono }} -
                                                    <strong>Inicio de Contrato: </strong>{{ contratacion.fecha_entrada }}
                                                </p>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
	             				{% endfor %}
	             			</div>
	           			</div>
	           		{% endif %}
         		{% endfor %}
         	</div>
       	</div>
    </section>
{% endblock %}