{# encoding:utf-8 #}
{% extends 'base.html' %}
{% block title %}
    Planilla de Asistencia
{% endblock%}
{% block url %}planilla/asistencia/{% endblock %}
{% block cuerpo %}
    <section class="consulta">
        <div class="row-fluid">
        <div class="navbar-inner">
            <p><strong>Cedula: </strong>{{ empleado.ci }}</p>
            <p><strong>Apellidos: </strong>{{ empleado.paterno|upper }}, {{ empleado.materno|upper   }}</p>
            <p><strong>Nombres: </strong>{{ empleado.nombre }}</p>
        </div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Entrada</th>
                    <th>Salida</th>
                    <th></th>
                    <th>Entrada</th>
                    <th>Salida</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for m in mes %}
                    <tr>
                        <td>{{ m }}</td>
                        {% for asis in asistencia %}
                            {% if asis.fecha == m %}
                                {% if asis.tipo == "EntradaM" %}
                                    {% if asis.obs != "" %}
                                        <td>{{ asis.hora|time }}</td>
                                    {% else %}
                                        <td class="info">{{ asis.hora|time }}</td>
                                    {% endif %}
                                {% else %}
                                    <td class="success">Sin Marca</td>
                                {% endif %}

                                {% if asis.tipo == "SalidaM" %}
                                    {% if asis.obs != "" %}
                                        <td class="error">{{ asis.hora|time }}</td>
                                    {% else %}
                                        <td>{{ asis.hora|time }}</td>
                                    {% endif %}
                                {% else %}
                                    <td class="success">Sin Marca</td>
                                {% endif %}

                                <td></td>

                                {% if asis.tipo == "EntradaT" %}
                                    {% if asis.obs != "" %}
                                        <td class="error">{{ asis.hora|time }}</td>
                                    {% else %}
                                        <td>{{ asis.hora|time }}</td>
                                    {% endif %}
                                {% else %}
                                    <td class="success">Sin Marca</td>
                                {% endif %}

                                {% if asis.tipo == "SalidaT" %}
                                    {% if asis.obs != "" %}
                                        <td class="error">{{ asis.hora|time }}</td>
                                    {% else %}
                                        <td>{{ asis.hora|time }}</td>
                                    {% endif %}
                                {% else %}
                                    <td class="success">Sin Marca</td>
                                {% endif %}

                                <td></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        </div>
    </section>
{% endblock %}