{# encoding=utf-8 #}
{% extends 'base_reporte.html' %}
{% block cuerpo %}
    <section class="consulta">
        <div class="row-fluid">
        <div class="navbar-inner">
            <p><strong>Cedula: </strong>{{ empleado.ci }}</p>
            <p><strong>Apellidos: </strong>{{ empleado.paterno|upper }}, {{ empleado.materno|upper   }}</p>
            <p><strong>Nombres: </strong>{{ empleado.nombre }}</p>
        </div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Entrada M.</th>
                    <th>Salida M.</th>
                    <th>Obs. M.</th>
                    <th>Entrada T.</th>
                    <th>Salida T.</th>
                    <th>Obs. T.</th>
                </tr>
            </thead>
            <tbody>
                {% for m in mes %}
                    <tr>
                        <td>{{ m }}</td>
                        {% for asis in asistencia %}
                            {% if asis.fecha == m %}
                                {% if not asis.entrada_m %}
                                    <td class="error">
                                        <cite title="Entrada Mañana">
                                            SIN MARCA
                                        </cite>
                                    </td>
                                {% else %}
                                    {% if asis.obs_m %}
                                        <td class="warning">
                                            <cite title="Entrada Mañana">
                                                {{asis.entrada_m|time}}
                                            </cite>
                                        </td>
                                    {% else %}
                                        <td class="success">
                                            <cite title="Entrada Mañana">
                                                {{asis.entrada_m|time}}
                                            </cite>
                                        </td>
                                    {% endif %}
                                {% endif %}

                                {% if not asis.salida_m %}
                                    <td class="error">
                                        <cite title="Salida Mañana">
                                            SIN MARCA
                                        </cite>
                                    </td>
                                {% else %}
                                    <td class="success">
                                        <cite title="Salida Mañana">
                                            {{asis.salida_m|time}}
                                        </cite>
                                    </td>
                                {% endif %}

                                {% if not asis.obs_m %}
                                    <td class="info">
                                        <cite title="Observacion Mañana">
                                        </cite>
                                    </td>
                                {% else %}
                                    <td class="warning">
                                        <cite title="Observacion Mañana">
                                            {{asis.obs_m}}
                                        </cite>
                                    </td>
                                {% endif %}


                                {% if not asis.entrada_t %}
                                    <td class="error">
                                        <cite title="Entrada Tarde">
                                            SIN MARCA
                                        </cite>
                                    </td>
                                {% else %}
                                    {% if asis.obs_t %}
                                        <td class="warning">
                                            <cite title="Entrada Tarde">
                                                {{asis.entrada_t|time}}
                                            </cite>
                                        </td>
                                    {% else %}
                                        <td class="success">
                                            <cite title="Entrada Tarde">
                                                {{asis.entrada_t|time}}
                                            </cite>
                                        </td>
                                    {% endif %}

                                {% endif %}

                                {% if not asis.salida_t %}
                                    <td class="error">
                                        <cite title="Salida Tarde">
                                            SIN MARCA
                                        </cite>
                                    </td>
                                {% else %}
                                    <td class="success">
                                        <cite title="Salida Tarde">
                                            {{asis.salida_t|time}}
                                        </cite>
                                    </td>
                                {% endif %}

                                {% if not asis.obs_t %}
                                    <td class="info">
                                        <cite title="Observacion Tarde">
                                        </cite>
                                    </td>
                                {% else %}
                                    <td class="warning">
                                        <cite title="Observacion Tarde">
                                            {{asis.obs_t}}
                                        </cite>
                                    </td>
                                {% endif %}

                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        </div>
    </section>
    <div id="footerContent">
        Pagina <pdf:pagenumber>
    </div>
{% endblock %}