{# encoding:utf-8 #}
{% extends 'base.html' %}
{% block title %}
    Planilla de Asistencia
{% endblock%}
{% block url %}planilla/asistencia/{% endblock %}
{% block cuerpo %}
    <section class="consulta">
        <div class="row-fluid">
        <div class="navbar-inner">
            <p><strong>Cedula: </strong>{{ empleado.ci }}</p>
            <p><strong>Apellidos: </strong>{{ empleado.paterno|upper }}, {{ empleado.materno|upper   }}</p>
            <p><strong>Nombres: </strong>{{ empleado.nombre }}</p>
        </div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Entrada M/</th>
                    <th>Salida M.</th>
                    <th>Obs. M.</th>
                    <th>Entrada T.</th>
                    <th>Salida T.</th>
                    <th>Obs. T.</th>
                </tr>
            </thead>
            <tbody>
                {% for m in mes %}
                    <tr>
                        <td>{{ m }}</td>
                        {% for asis in asistencia %}
                            {% if asis.fecha == m %}
                                {% if not asis.entrada_m %}
                                    <td class="error">SIN MARCA</td>
                                {% else %}
                                    {% if asis.obs_m %}
                                        <td class="warning">{{asis.entrada_m|time}}</td>
                                    {% else %}
                                        <td class="success">{{asis.entrada_m|time}}</td>
                                    {% endif %}
                                {% endif %}
                                
                                {% if not asis.salida_m %}
                                    <td class="error">SIN MARCA</td>
                                {% else %}
                                    <td class="success">{{asis.salida_m|time}}</td>    
                                {% endif %}

                                {% if not asis.obs_m %}
                                    <td class="info"></td>
                                {% else %}
                                    <td class="warning">{{asis.obs_m}}</td>
                                {% endif %}
                                
                                {% if not asis.entrada_t %}
                                    <td class="error">SIN MARCA</td>
                                {% else %}
                                    {% if asis.obs_t %}
                                        <td class="warning">{{asis.entrada_t|time}}</td>
                                    {% else %}
                                        <td class="success">{{asis.entrada_t|time}}</td>
                                    {% endif %}
                                    
                                {% endif %}

                                {% if not asis.salida_t %}
                                    <td class="error">SIN MARCA</td>
                                {% else %}
                                    <td class="success">{{asis.salida_t|time}}</td>    
                                {% endif %}
                                
                                {% if not asis.obs_t %}
                                    <td class="info"></td>
                                {% else %}
                                    <td class="warning">{{asis.obs_t}}</td>
                                {% endif %}
                                
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        </div>
    </section>
{% endblock %}