{# encoding:utf-8 #}
{% extends 'form.html' %}
{% block title %}Modificar Asistencia{% endblock%}
{% block url %}planilla/detalle/{{ id }}/{{ fecha_ini|date:"d/m/Y" }}/{{ fecha_fin|date:"d/m/Y" }}/0{% endblock %}
{% block legend %}
    Editar Asistencia
{% endblock %}
{% block calendar %}

{% endblock calendar %}
{% block formenviar %}
    Guardar
{% endblock %}
{% block formcancelar %}planilla/detalle/{{ id }}/{{ fecha_ini|date:"d/m/Y" }}/{{ fecha_fin|date:"d/m/Y" }}/0{% endblock %}

{% block footer_report %}

<script type="text/javascript" src="{{ STATIC_URL }}hora/jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}hora/jquery-ui-1.8.17.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}hora/jquery-ui-timepicker-addon.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}hora/jquery-ui-1.8.17.custom.css"/>
<script type="text/javascript">
    $(function() {
	    $('#id_entrada_m').timepicker({});
        $('#id_entrada_t').timepicker({});
        $('#id_salida_t').timepicker({});
        $('#id_salida_m').timepicker({});
	});
</script>
{% endblock footer_report %}