{# encoding:utf-8 #}
{% extends 'base.html' %}
{% block title %}
    Kardex Empleado
{% endblock%}
{% block url %}personal/kardex/{% endblock %}
{% block cuerpo %}
    <section class="consulta">
        <div class="row-fluid">
            <div class="navbar-inner">
                <div class="span4 well">
                    <p><strong>Cedula de Identidad: </strong>{{ empleado.ci }}</p>
                    <p><strong>Apellidos: </strong>{{ empleado.paterno|upper }}, {{ empleado.materno|upper   }}</p>
                    <p><strong>Nombres: </strong>{{ empleado.nombre }}</p>
                    <p><strong>Dirección: </strong>{{empleado.direccion}}</p>
                    <p><strong>Telefono: </strong>{{empleado.telefono}}</p>
                </div>
                <div class="span4 well">
                    <p><strong>Sexo: </strong>
                        {% if empleado.sexo == "MA" %}
                            MASCULINO
                        {% else %}
                            FEMENINO
                        {% endif %}
                    </p>
                    <p>
                        <strong>Estado Civil: </strong>
                        {% if empleado.estado_civil == "SO" %}
                            {% if empleado.sexo == "MA" %}
                                SOLTERO
                            {% else %}
                                SOLTERA
                            {% endif %}
                        {% else %}
                            {% if empleado.sexo == "MA" %}
                                CASADO
                            {% else %}
                                CASADA
                            {% endif %}
                        {% endif %}
                    </p>
                    <p><strong>Email: </strong>{{empleado.email}}</p>
                    <p><strong>Fecha Nacimiento: </strong>{{empleado.fecha_nac}}</p>
                </div>
                <div class="span3 well">
                    <img src="/media/{{empleado.foto}}" alt="{{empleado.nombre}}" class="img-polaroid">
                </div>
            </div>
            <div class="container-fluid well">
                <h3>Unidades En las Que Trabajo El Empleado</h3>
                <table class="table table-condesed">
                    <thead>
                        <tr>
                            <th>Unidad / Cargo</th>
                            <th>Fecha Entrada</th>
                            <th>Fecha Salida</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in contratos %}
                            <tr>
                                <td>{{c.cargo}}</td>
                                <td>{{c.fecha_entrada}}</td>
                                <td>{{c.fecha_salida}}</td>
                                <td></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <h3>Cambios de Cargo Realizado  </h3>
                <table class="table table-condesed">
                    <thead>
                        <tr>
                            <th>De Unidad - Cargo</th>
                            <th>A Unidad - Cargo</th>
                            <th>Fecha De Cambio</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for m in movilidad %}
                            <tr>
                                <td>
                                    {% for c in contratos %}
                                        {% if m.contrato_id == c.id %}
                                            {{c.cargo}}
                                        {% endif %}
                                    {% endfor %}
                                    {{m.contrataciones_set.all}}
                                </td>
                                <td>{{m.cargo}}</td>
                                <td>{{m.fecha}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <h3>Observaciones del Empleado</h3>
                <table class="table table-condesed">
                    <thead>
                        <tr>
                            <th>Tipo de Obs.</th>
                            <th>Descripción de Obs.</th>
                            <th>Fecha Obs.</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for o in observaciones %}
                            <tr>
                                <td>
                                    {% if o.tipo == "LA" %}
                                        LLAMADA DE ATENCIÓN
                                    {% else %}
                                        MEMORANDUM
                                    {% endif %}
                                </td>
                                <td>{{o.descripcion}}</td>
                                <td>{{o.fecha}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}