<div class="page-sidebar">
    <ul>
        {% if user.is_authenticated %}
            <li class="sticker sticker-color-green">
                <a href="{% url 'personal.views.index_personal' %}">
                    <i class="icon-clipboard"></i> Registro Kardex
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="{% url 'personal.views.show_datos_persona' %}">Datos Personales</a>
                    </li>
                    <li>
                        <a href="{% url 'personal.views.show_estudios' %}">Estudios Realizados</a>
                    </li>
                    <li>
                        <a href="{% url 'personal.views.show_otros_estudios' %}">Otros Estudios</a>
                    </li>
                    <li>
                        <a href="{% url 'personal.views.show_experiencias_trabajo' %}">Experiencias de Trabajo</a>
                    </li>
                    <li>
                        <a href="{% url 'personal.views.show_idiomas' %}">Idiomas Conocidos</a>
                    </li>
                </ul>
            </li>
            <li class="divider"></li>
        {% endif %}
        {% if perms.show_tarjetas_qr_persona or user.is_authenticated %}
            <li class="sticker sticker-color-red">
                <a href="{% url 'personal.views.index_personal' %}">
                    <i class="icon-pencil"></i> Opciones Personal
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="{% url 'personal.views.my_tarjeta_qr' %}">Mi Tarjeta QR</a>
                    </li>
                    {% if perms.show_tarjetas_qr_persona %}
                        <li>
                            <a href="{% url 'personal.views.select_personal_qr' %}">Tarjetas QR Personal</a>
                        </li>
                    {% endif %}
                </ul>
            </li>
        {% endif %}
    </ul>
</div>