<div class="page-sidebar">
    <ul>
        <li class="sticker sticker-color-green">
            <a href="{% url 'personal.views.index_personal' %}">
                <i class="icon-clipboard"></i> Registro Kardex
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="{% url 'personal.views.show_datos_persona' %}">Datos de Persona</a>
                </li>
                <li>
                    <a href="{% url 'personal.views.show_estudios' %}">Estudios Realizados</a>
                </li>
                <li>
                    <a href="{% url 'personal.views.show_otros_estudios' %}">Otros Estudios</a>
                </li>
                <li>
                    <a href="{% url 'personal.views.show_experiencias_trabajo' %}">Experiencias de Trabajo</a>
                </li>
                <li>
                    <a href="{% url 'personal.views.show_idiomas' %}">Idiomas Conocidos</a>
                </li>
            </ul>
        </li>
        <li class="divider"></li>
        <!--li class="sticker sticker-color-blue">
            <a><i class="icon-clipboard-2"></i>Opciones Unidad</a>
            <ul class="sub-menu">
                <li>
                    <a href="{% url 'organizacion.views.option_update' %}">Modificar</a>
                </li>
                <li>
                    <a href="{% url 'organizacion.views.option_detalle' %}">Detalle Unidad</a>
                </li>
            </ul>
        </li>
        <li class="sticker sticker-color-orangeDark">
            <a><i class="icon-file-pdf"></i>Reportes</a>
            <ul class="sub-menu">
                <li>
                    <a href="{% url 'organizacion.views.unidades_pdf' 0 %}">Listado de Unidades</a>
                </li>
                <li>
                    <a href="{% url 'organizacion.views.unidades_sin_cargo' 0 %}">Unidades Sin Cargo</a>
                </li>
            </ul>
        </li-->
    </ul>
</div>