{# encoding:utf-8 #}
{% extends 'form.html' %}
{% block title %}Nueva Contratación{% endblock%}
{% block url %}personal{% endblock %}
{% block legend %}
    <div class="row-fluid">
            <div class="alert alert-info">
                <strong>Recuerde!!</strong>
                <p>10 Retrasos Equivalentes a una Falta</p>
            </div>
        </div>
    Nueva Contratación
{% endblock %}
{% block calendar %}
    <link rel="stylesheet" href="{{ STATIC_URL }}calendario/calendar.css"/>
    <script src="{{ STATIC_URL }}calendario/jquery_min.js"></script>
    <script src="{{ STATIC_URL }}calendario/jquery_ui.js"></script>
    <script src="{{ STATIC_URL }}calendario/jquery.ui.datepicker-es.js"></script>
    <script type="text/javascript">
        $('#id_fecha_fin').addClass('hasDatepicker')
	    $(function() {
		    $('#id_fecha_fin').datepicker({dateFormat: 'dd/mm/yy', changeMonth: true, changeYear: true, yearRange: '-0:+5'});
	    });
	</script>
{% endblock %}
{% block cargo %}
    <section class="consulta">
        <div class="navbar-inner">
            <h3>Registro de Contrato</h3>
            <p><strong>Unidad - Cargo: </strong>{{ cargo.unidad }}<strong> - </strong>{{ cargo.nombre|upper }}</p>
            <p><strong>Empleado: </strong>{{ empleado.nombre|upper }} {{ empleado.paterno|upper }}  <strong>Cedula de Identidad: </strong>{{ empleado.ci }}</p>
        </div>
    </section>
{% endblock %}

{% block formenviar %}
    Guardar
{% endblock %}
{% block formcancelar %}personal{% endblock %}