{# encoding:utf-8 #}
{% extends 'base.html' %}
{% block title %}
    Tarjeta QR Empleado
{% endblock%}
{% block url %}personal{% endblock %}
{% block cuerpo %}
    <section class="consulta">
        {% load qr_tags %}
        <div class="row-fluid well">
            <div class="span1 offset1">

            </div>
            <div class="span6 well">
                <div class="span4">
                    {% qr_from_text direccion "size" %}
                </div>
                <div class="span6">
                    <h3 class="align-center">Empleado Contratado</h3>
                    <address>
                        <strong>Cedula de Identidad: </strong>{{ empleado.ci }}<br>
                        <strong>Nombres: </strong>{{ empleado.nombre}}<br>
                        <strong>Apellidos: </strong>{{ empleado.paterno }}, {{ empleado.materno }}<br>
                        <strong>Direccion: </strong>{{ empleado.direccion }}<br>
                        <strong>Telefono: </strong>{{ empleado.telefono }}
                    </address>
                </div>
                <div class="span2">
                    <img src="/media/{{ empleado.foto }}" alt="{{ empleado.nombre }}" class="img-rounded" width="80px" height="80px"/>
                </div>
            </div>
        </div>

    </section>
{% endblock %}