{# encoding:utf-8 #}
{% extends 'form.html' %}
{% block title %}
    Seleccion Fechas
{% endblock%}
{% block dajax %}
    {% load dajaxice_templatetags %}
{% endblock %}
{% block ajax %}
    <script src="{{ STATIC_URL }}dajax/jquery.dajax.core.js">
    </script>
    {% dajaxice_js_import %}
    <style>
    .hola{
        display: none;
    }
    .btn1{
        display: none;
    }
    </style>
{% endblock %}

{% block calendar %}
    <link rel="stylesheet" href="{{ STATIC_URL }}calendario/calendar.css"/>
    <script src="{{ STATIC_URL }}calendario/jquery_min.js"></script>
    <script src="{{ STATIC_URL }}calendario/jquery_ui.js"></script>
    <script src="{{ STATIC_URL }}calendario/jquery.ui.datepicker-es.js"></script>
    <script type="text/javascript">
        $('#id_fecha_ini').addClass('hasDatepicker')
        $('#id_fecha_fin').addClass('hasDatepicker')
	    $(function() {
		    $('#id_fecha_ini').datepicker({dateFormat: 'dd/mm/yy', changeMonth: true, changeYear: true, yearRange: '-5:+0'});
            $('#id_fecha_fin').datepicker({dateFormat: 'dd/mm/yy', changeMonth: true, changeYear: true, yearRange: '-1:+10'});
	    });
	</script>
{% endblock calendar %}
{% block url %}planilla/asistencia/{% endblock %}
{% block legend %}
    <div class="row-fluid">
        <div class="alert alert-info">
            <p><strong>Empleado: </strong>{{ contrato.empleado|upper }}</p>
            <p><strong>Fecha de Inicio de Contrato: </strong>{{ contrato.fecha_entrada }}</p>

        </div>
        <div id="hola1" class="hola">
            <div class="alert">
                <button type="button" class="close" data-dismiss="alert"></button>
                <strong>Cuidado!!!!</strong>
                <p>La Fecha de Finalización no Puede Ser Mayor que la Fecha de Inicio</p>
            </div>
        </div>
        <div id="hola2" class="hola">
            <div class="alert">
                <button type="button" class="close" data-dismiss="alert"></button>
                <strong>Cuidado!!!!</strong>
                <p>La Fecha de Inicio no Puede Ser Menor que la Fecha de Inicio de contrato <strong>{{ contrato.fecha_entrada }}</strong></p>
            </div>
        </div>
    </div>
    Selección Fechas Asistencia
{% endblock %}
{% block formenviar %}
    Enviar
{% endblock %}
{% block formcancelar %}planilla/asistencia/{% endblock %}
{% block footer_report %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#id_fecha_ini').change(function(){
                var fecha_ini = $('#id_fecha_ini').val();
                var fecha2 ="{{ contrato.fecha_entrada|date:"d/m/Y" }}";

                if (compare_dates(fecha2, fecha_ini)){
                    $('div#hola2').removeClass("hola");
                }else{
                    $('div#hola2').addClass("hola");
                }
            });
            $('#id_fecha_fin').change(function(){
                var fecha_ini = $('#id_fecha_ini').val();
                var fecha_fin = $('#id_fecha_fin').val();
                if (compare_dates(fecha_ini, fecha_fin)){
                    $('div#hola1').removeClass("hola");
                }else{
                    $('div#hola1').addClass("hola");
                }
            });
            function compare_dates(fecha, fecha2)
            {
                var xMonth=fecha.substring(3, 5);
                var xDay=fecha.substring(0, 2);
                var xYear=fecha.substring(6,10);
                var yMonth=fecha2.substring(3, 5);
                var yDay=fecha2.substring(0, 2);
                var yYear=fecha2.substring(6,10);
                if (xYear> yYear)
                {
                    return(true)
                }
                else
                {
                    if (xYear == yYear)
                    {
                        if (xMonth> yMonth)
                        {
                            return(true)
                        }
                        else
                        {
                            if (xMonth == yMonth)
                            {
                                if (xDay> yDay)
                                    return(true);
                                else
                                    return(false);
                            }
                            else
                                return(false);
                        }
                    }
                    else
                        return(false);
                }
            }
        });
    </script>
{% endblock %}