{# encoding:utf-8 #}
{% extends 'base.html' %}
{% block title %}
    Contrato Empleado
{% endblock%}
{% block url %}personal{% endblock %}
{% block cuerpo %}
    <section class="consulta">
        <h2>Contrato de Empleado</h2>
        <a class="btn btn-link" href="/contrato/show/{{ contrato.id }}/1"><b class="icon-file-pdf"></b> Contrato En PDF</a>
        <a class="btn btn-link" href="/qr/show/{{ empleado.id }}"><b class="icon-file-pdf"></b> Tarjeta Qr</a>
        <div class="navbar-inner">
            <div class="span4"></div>
            <div class="span4 offset4">
                <h4><p class="align-right"><strong>Codigo de Contrato: </strong>{{ contrato.id }}</p></h4>
            </div>
            <div class="row-fluid">
                <div class="span4">
                    <p class="text-info"><strong>Incio de Contrato: </strong>{{ contrato.fecha_entrada }}</p>
                </div>
                <div class="span4 offset4">
                    <p class="info"><strong>Finalizacion del Contrato: </strong>{{ contrato.fecha_salida }}</p>
                </div>
            </div>
        </div>
        <div class="container-fluid well">
            <div class="row-fluid well">
                <h3>Datos Del Empleado</h3>
                <div class="span4 well">
                    <sddress>
                        <strong>Cedula de Identidad: <p>{{ empleado.ci }}</p></strong>
                        <strong>Nombre: </strong><p>{{ empleado.nombre }}</p>
                        <strong>Apellidos: </strong><p>{{ empleado.paterno }} {{ empleado.materno }}</p>
                        <strong>Dirección</strong><p>{{ empleado.direccion }}</p>
                    </sddress>
                </div>
                <div class="span4 well">
                    <address>
                        <strong>Telefono/Celular:</strong><p>{{ empleado.telefono }}</p>
                        <strong>Fecha de Nacimiento: </strong><p>{{ empleado.fecha_nac }}</p>
                        <strong>Correo Electronico: </strong><p>{{ empleado.email }}</p>
                        <strong>Estado Civil:</strong>
                        <p>
                            {% if empleado.estado_civil == "SO" %}
                                SOLTERO
                            {% else %}
                                CASADO
                            {% endif %}
                        </p>
                    </address>
                </div>
                <div class="span3 well">
                    {% if empleado.foto %}
                        <img src="/media/{{ empleado.foto }}" alt="" class="img-polaroid"/>
                    {% else %}
                        {% if empleado.sexo == "MA" %}
                            <img src="{{ STATIC_URL }}avatar/avatarM.jpg" alt="" class="img-polaroid"/>
                        {% else %}
                            <img src="{{ STATIC_URL }}avatar/avatarM.jpg" alt="" class="img-polaroid"/>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="row-fluid well">
                <h3>Datos Del Puesto</h3>
                <div class="span4 well">
                    <h3>Unidad</h3>
                    <address>
                        <p>{{ unidad.nombre|upper }}</p>
                        <strong>Descripción:</strong><p>{{ unidad.descripcion }}
                    </address>
                </div>
                <div class="span4 well">
                    <h3>Cargo</h3>
                    <addrees>
                        <p>{{ cargo.nombre|upper }}</p>
                        <strong>Descripción:</strong>
                        <p >{{ cargo.descripcion }}</p>
                    </addrees>
                </div>
                <div class="span3 well">
                    <h3>Funciones</h3>
                    <address>
                        {% for funcion in funciones %}
                            <p>{{ funcion.descripcion }}</p>
                        {% endfor %}
                    </address>
                </div>
            </div>
            <div class="row-fluid well">
                <h3>Datos De Contratacion</h3>
                <div class="span4 well">
                    <address>
                        <strong>Sueldo:</strong><p>{{ contrato.sueldo }} Bolivianos</p>
                        <strong>Descuento Por Falta:</strong><p>{{ contrato.descuento }}</p>
                        <p><small>Cada 10 retrasos una falta</small></p>
                    </address>
                </div>
            </div>
        </div>
    </section>
{% endblock %}