{# encoding=utf-8 #}
{% extends 'base_reporte.html' %}
{% block cuerpo %}
    <h1>Contrato de Empleado</h1>
    <table class="table-1 ">
        <tbody>
            <tr>
                <td></td>
                <td><strong>Codigo de Contrato: </strong>{{ contrato.id }}</td>
            </tr>
            <tr>
                <td><strong>Inicio De Contrato: </strong>{{ contrato.fecha_entrada }}</td>
                <td><strong>Finalizacion del Contrato: </strong>{{ contrato.fecha_salida }}</td>
            </tr>
        </tbody>
    </table>
    <table class="table-1">
        <h2>Datos de Empleado</h2>
        {% if empleado.foto %}
            <img src="/media/{{ empleado.foto }}" style="zoom: 50%;"/>
        {% else %}
            {% if empleado.sexo == "MA" %}
                <img src="/media/avatar/avatarM.jpg" style="zoom: 50%;" class="img-polaroid"/>
            {% else %}
                <img src="/media/avatar/avatarM.jpg" style="zoom: 50%;" class="img-polaroid"/>
            {% endif %}
        {% endif %}
        <tbody>
            <tr>
                <td><strong>Cedula de Identidad:</strong></td>
                <td><strong>Telefono/Celular: </strong></td>
            </tr>
            <tr>
                <td>{{ empleado.ci }}</td>
                <td>{{ empleado.telefono }}</td>

            </tr>
            <tr>
                <td><strong>Nombre: </strong></td>
                <td><strong>Fecha de Nacimiento: </strong></td>

            </tr>
            <tr>
                <td>{{ empleado.nombre }}</td>
                <td>{{ empleado.fecha_nac }}</td>

            </tr>
            <tr>
                <td><strong>Apellidos:</strong></td>
                <td><strong>Correo Electronico:</strong></td>

            </tr>
            <tr>
                <td>{{ empleado.paterno }} {{ empleado.materno }}</td>
                <td>{{ empleado.email }}</td>
            </tr>
            <tr>
                <td><strong>Dirección: </strong></td>
                <td><strong>Estado Civil:</strong></td>
            </tr>
            <tr>
                <td>{{ empleado.direccion }}</td>
                <td>{% if empleado.estado_civil == "SO" %}
                            SOLTERO
                        {% else %}
                            CASADO
                        {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
    <h2>Datos Del Puesto</h2>
    <table class="table-1 ">
        <tbody>
            <tr>
                <td><strong>Unidad:</strong></td>
                <td><strong>Cargo: </strong></td>
            </tr>
            <tr>
                <td>{{ unidad.nombre }}</td>
                <td>{{ cargo.nombre }}</td>
            </tr>
            <tr>
                <td><strong>Descripción: </strong></td>
                <td><strong>Descripción: </strong></td>

            </tr>
            <tr>
                <td>{{ unidad.descripcion }}</td>
                <td>{{ cargo.descripcion }}</td>

            </tr>
        </tbody>
    </table>
    <div class="row-fluid well">
        <h2>Datos De Contratacion</h2>
        <div class="span4 well">
            <address>
                <strong>Sueldo:</strong><p>{{ contrato.sueldo }} Bolivianos</p>
                <strong>Descuento Por Falta:</strong><p>{{ contrato.descuento }}</p>
                <p><small>Cada 10 retrasos una falta</small></p>
            </address>
        </div>
    </div>
    <div id="footerContent">
        Pagina <pdf:pagenumber>
    </div>
{% endblock %}