{# encoding:utf-8 #}
{% extends 'base.html' %}
{% block title %}
    Opciones De Empleado
{% endblock%}
{% block url %}personal/{% endblock %}
{% block cuerpo %}
    <section class="consulta">
        <h2>Registro de Permisos</h2>
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>Cedula Identidad</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Dirección</th>
                <th>Telefono/Celular</th>
                <th>Email</th>
                <th>Opciones</th>
            </tr>
            </thead>
            <tbody>
            {% for empleado in empleados %}
                    <tr>
                        <td>{{ empleado.ci}}</td>
                        <td>{{ empleado.nombre }}</td>
                        <td>{{ empleado.paterno }} {{ empleado.materno }}</td>
                        <td>{{ empleado.direccion }}</td>
                        <td>{{ empleado.telefono }}</td>
                        <td>{{ empleado.email }}</td>
                        <td>
                            <a class="btn btn-link" href="/view/kardex/{{ empleado.id }}"><b class="icon-pie"></b> Ver Kardex</a>
                        </td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}