{# encoding=utf-8 #}
{% extends 'base.html' %}

{% block title %}Unidad{% endblock %}

{% block atras %}
{% url 'organizacion.views.option_detalle' %}
{% endblock %}

{% block titulo %}
<h1>Unidad <small>Detalle</small></h1>
{% endblock %}
{% block cuerpo %}
<div class="row">
    <div class="span12">
        <div class="row">
            <div class="span3">
                {% include 'unidad/menuizq.html' %}
            </div>
            <div class="span9">
                <h3>Detalle de Unidad</h3>
                <div class="row">
                    <div class="span9">
                        <h3><strong>Nombre de Unidad: </strong>{{ unidad.nombre|upper }}</h3>
                    </div>
                    <div class="span9">
                        <p class="text-justify">{{ unidad.descripcion }}</p>
                    </div>
                    <div class="span9">
                        <p><strong>Descargar Documento de Unidad</strong></p>
                        <p>
                            <a href="/media/{{ unidad.documento }}" class="button image-button bg-color-pink fg-color-white">
                                Descargar PDF
                                <img class="bg-color-pinkDark" src="{{ STATIC_URL }}base/images/download-32.png">
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}