{# encoding:utf-8 #}
{% extends 'base.html' %}
{% block title %}
Opciones Planificacion
{% endblock%}
{% block url %}organizacion{% endblock %}
{% block cuerpo %}
<section class="consulta">
    <h2>Opciones de Planificacion</h2>
    <div class="accordion" id="accordion2">
        {% for cargo in cargos %}
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse{{ cargo.id }}">
                        <h3>{{ cargo.nombre }}</h3>
                    </a>
                </div>
                <div id="collapse{{ cargo.id }}" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <div class="tabbable tabs-left">
                            <ul class="nav nav-tabs">
                                {% for planificacion in planificaciones %}
                                    {% if planificacion.cargo_id == cargo.id %}
                                        <li>
                                            <a class="lead" data-toggle="tab"  href="#{{ planificacion.id }}">{{ planificacion.fecha_plani|date:"b d Y" }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                            <div class="tab-content">
                                {% for planificacion in planificaciones %}
                                    {% if planificacion.cargo_id == cargo.id %}
                                        <div id="{{ planificacion.id }}" class="tab-pane">
                                            <p>
                                                <p class="lead">
                                                    {{ planificacion.descripcion }}
                                                </p>
                                                <p>
                                                    <h3>Cantidad</h3>
                                                    {{ planificacion.cantidad }}
                                                </p>
                                                <div class="well">
                                                    <p>Opciones Planificación</p>
                                                    <a class="btn btn-link" href="/planificacion/update/{{ planificacion.id }}"><b class="icon-pencil"></b> Modificar</a>
                                                    <a data-toggle="modal" href="#myModal{{ planificacion.id }}" class="btn btn-success btn-large"><b class="icon-cancel"></b> Quitar</a>
                                                </div>
                                            </p>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <a class="btn btn-link" href="/planificacion/new"><b class="icon-plus"></b> Crear Planificación</a>
    </div>
    {% for planificacion in planificaciones %}
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal message hide fade" id="myModal{{ planificacion.id }}" style="display: none;">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button"></button>
                <h3>Requerimiento de Personal</h3>
            </div>
            <div class="modal-body">
                <h4>Quitar Requerimiento de Peronal</h4>
                <p>Usted esta realmente seguro de Quitar este Requeimiento de Personal??</p>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn">Cancelar</button>
                <a href="/planificacion/cancel/{{ planificacion.id }}" class="btn btn-primary">Quitar</a>
            </div>
        </div>
    {% endfor %}
</section>
{% endblock %}