{# encoding:utf-8 #}
{% extends 'base.html' %}
{% block title %}Opciones De Unidad{% endblock%}
{% block url %}organizacion{% endblock %}
{% block cuerpo %}
    <section class="consulta">
        <h2>Opciones de Unidad</h2>
        <div class="tabbable tabs-left">
        	
        	<ul class="nav nav-tabs">
        		{% for unidad in unidades %}
    				{% if forloop.counter != 1 %}
    					<li>
    						<a class="lead" data-toggle="tab"  href="#{{ unidad.id }}">{{ unidad.nombre }}</a>
    					</li>
    				{% else %}
    					<li class="active">
    						<a class="lead" data-toggle="tab"  href="#{{ unidad.id }}">{{ unidad.nombre }}</a>
    					</li>
					{% endif %}
           		{% endfor %}
         	</ul>
         	<div class="tab-content">
         		{% for unidad in unidades %}
         			{% if forloop.counter != 1 %}
	         			<div id="{{ unidad.id }}" class="tab-pane">
	             			<p class="lead">{{ unidad.descripcion }}</p>
	             			<div class="well">
	             				<p>Opciones Unidad</p>
	             				<a class="btn btn-link" href="{{ MEDIA_URL}}{{ unidad.documento }}" ><b class="icon-file-pdf"></b> Doc. Unidad</a>
                                <a class="btn btn-link" href="/unidad/update/{{ unidad.id }}"><b class="icon-pencil"></b> Modificar</a>
	             			</div>
	           			</div>
	           		{% else %}
	           			<div id="{{ unidad.id }}" class="tab-pane active">
	           				<p class="lead">{{ unidad.descripcion }}</p>
	             			<div class="well">
	             				<p>Opciones Unidad</p>
	             				<a class="btn btn-link" href="{{ MEDIA_URL }}{{ unidad.documento }}"><b class="icon-file-pdf"></b> Doc. Unidad</a>
                                <a class="btn btn-link" href="/unidad/update/{{ unidad.id }}"><b class="icon-pencil"></b> Modificar</a>

	             			</div>
	           			</div>
	           		{% endif %}
         		{% endfor %}
         	</div>
       	</div>
        <a class="btn btn-link" href="/unidad/new"><b class="icon-plus"></b> Crear Unidad</a>
    </section>
{% endblock %}