{# encoding:utf-8 #}
{% extends 'form_upload.html' %}
{% block title %}Modificar Unidad{% endblock%}

{% block atras %}
{% url 'organizacion.views.option_update' %}
{% endblock %}

{% block titulo %}
<h1>Unidad <small>Modificar</small></h1>
{% endblock %}
{% block menuizq %}
    {% include 'unidad/menuizq.html' %}
{% endblock %}
{% block legend %}
    Modificar Unidad
{% endblock %}
{% block submit %}Guardar{% endblock %}
{% block cancel %}{% url 'organizacion.views.option_update' %}{% endblock %}